<template lang="html">
  <div class="advance-settings">
    <h2>Advance Settings</h2>
    <section class="row">
      <base-collapse>
        <template #toggle>
          <h3>Hours</h3>
        </template>
        <template #content>
          <div class="mode-select">
            <div class="mode-select-option">
              <label for="simple">Simple mode</label>
              <input type="radio" id="simple" :value="true" v-model="isSimpleMode">
            </div>
            <div class="mode-select-option">
              <label for="advance">Advance mode</label>
              <input type="radio" id="advance" :value="false" v-model="isSimpleMode">
            </div>
          </div>

          <!-- Simple mode -->
          <div class="simple-mode" v-if="isSimpleMode">
            <p>The bot will pick any block between the range included the head and the tail</p>
            <div class="simple-mode-range-select">
              <label for="from">From</label>
              <v-select
                v-model="fromLocalHourObject"
                :options="vSelectRangeHourList"
                :value="null"
                :clearable="false"
              >
              </v-select>

            </div>

            <div class="simple-mode-range-select">
              <label for="to">To</label>
              <v-select
                v-model="toLocalHourObject"
                :options="vSelectFromRangeHourList"
                :value="null"
                :clearable="false"
              >
              </v-select>

            </div>
          </div>

          <!-- Advance mode -->
          <div class="advance-mode" v-show="!isSimpleMode">
            <p>The bot will pick any block meet these following hours</p>
            <div  class="advance-mode-hour-block" v-for="hour in RANGE_HOUR" :key="hour">
              <label v-bind:for="hour">{{ hour | format_24To12Hour }}</label>
              <input type="checkbox" v-model="hours" v-bind:id="hour" v-bind:value="hour | format_hour_local_to_utc">
            </div>
          </div>
        </template>
      </base-collapse>
    </section>

    <section >
      <base-collapse>
        <template v-slot:toggle>
          <h3>Stations</h3>
        </template>
        <template v-slot:content>
          <station-list
            v-model="stations"
            v-bind:stations="$store.getters.stationList">
          </station-list>
        </template>
      </base-collapse>
    </section>

    <section class="length-of-block row">
      <h3>Length of Block</h3>
      <vue-slider
        class="length-of-block-slider"
        v-model="length"
        :min=60
        :max=600
        :interval=30
        :enable-cross="false"
        :width="250"
        :tooltip-formatter="sliderFormatter"
        :tooltip="'always'"
      />
    </section>

    <section class="speed">
      <h3>Speed</h3>
      <vue-slider
        v-model="intervalLevel"
        :width=300
        :min=0
        :max=2
        :interval=1
        :tooltip="'always'"
        :tooltip-formatter="speedSliderFormatter"
        :marks="speedMarks"

        v-on:change="_updateBotSettings" />
    </section>

  </div>
</template>

<script>
import BotHandlerStationList from '@/components/BotHandlerStationList'
import VueSlider from 'vue-slider-component'
import API from '@/libs/api'
import 'vue-slider-component/theme/default.css'

export default {
  name: 'AdvanceSettings',
  components: {
    'station-list': BotHandlerStationList,
    VueSlider
  },

  data: function () {
    return {
      RANGE_HOUR: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
      stations: [],
      hours: [],
      length: [60, 120],
      intervalLevel: 0,
      isSimpleMode: true,
      fromLocalHour: Number.NEGATIVE_INFINITY,
      toLocalHour: Number.NEGATIVE_INFINITY,
      speedMarks: {
        0: 'safe',
        1: 'normal',
        2: 'high'
      }
    }
  },

  computed: {
    vSelectFromRangeHourList: function () {
      var vue = this
      return this.RANGE_HOUR.filter(x => x >= this.fromLocalHour).map(function (x) {
        return {
          label: vue.$options.filters.format_24To12Hour(x),
          value: x
        }
      })
    },

    vSelectRangeHourList: function () {
      var vue = this
      return this.RANGE_HOUR.map(function (x) {
        return {
          label: vue.$options.filters.format_24To12Hour(x),
          value: x
        }
      })
    },

    fromLocalHourObject: {
      get () {
        if (this.fromLocalHour === Number.NEGATIVE_INFINITY) {
          return null
        }
        return {
          label: this.$options.filters.format_24To12Hour(this.fromLocalHour),
          value: this.fromLocalHour
        }
      },
      set (o) {
        if (typeof o === 'object' && o !== null) {
          this.fromLocalHour = o.value
        }
      }
    },

    toLocalHourObject: {
      get () {
        if (this.toLocalHour === Number.NEGATIVE_INFINITY) {
          return null
        }
        return {
          label: this.$options.filters.format_24To12Hour(this.toLocalHour),
          value: this.toLocalHour
        }
      },
      set (o) {
        if (typeof o === 'object' && o !== null) {
          this.toLocalHour = o.value
        }
      }
    },

    interval: {
      get () {
        let result = parseInt(1000 - this.intervalLevel * 300)
        if (result < 400) {
          return 400
        } else if (result > 1000) {
          return 1000
        }
        return result
      },
      set (val) {
        let result = parseInt((1000 - val) / 300)
        this.intervalLevel = result < 0 ? 0 : (result > 2) ? 2 : result
      }
    }
  },

  created: async function () {
    await this._loadSettings()
    await this._bindSettingsChanged()
  },

  methods: {
    speedSliderFormatter (value) {
      switch (value) {
        case 0:
          return 'safe'
        case 1:
          return 'normal'
        case 2:
          return 'high'
        default:
          if (value < 0) {
            return 'safe'
          } else {
            return 'high'
          }
      }
    }, // <== speedSliderFormatter

    sliderFormatter (value) {
      if (typeof value === 'number') {
        return value / 60 + ' hours'
      } else {
        return ''
      }
    }, // <== sliderFormatter

    async _notifyStationListComponentUpdateItsView () {
      function __lookUpStationIndex (stationId, stationList) {
        for (let index = 0; index < stationList.length; index++) {
          let station = stationList[index]
          if (station.id === stationId) {
            return index
          }
        }
        return -1
      }

      for (let stationId of this.stations) {
        let stationIndex = __lookUpStationIndex(stationId, this.$store.getters.stationList)
        if (stationIndex > -1) {
          let stationObject = this.$store.getters.stationList[stationIndex]
          stationObject.isSelected = true
          let newStationObject = Object.assign({}, stationObject)
          this.$set(this.$store.getters.stationList, stationIndex, newStationObject)
        }
      }
    }, // <== _notifyStationListComponentUpdateItsView

    _loadHourRange () {
      let localHours = this.hours.map(this.$options.filters.format_hour_utc_to_local)
      let minLocalHour = Math.min(...localHours)
      let maxLocalHour = Math.max(...localHours)
      this.fromLocalHour = minLocalHour
      this.toLocalHour = maxLocalHour
    }, // <== _loadHourRange

    _loadSettings: async function () {
      try {
        let data = await API.fetchBotSettings()
        console.log(data)
        if (typeof data.stations !== 'undefined') {
          this.stations = data.stations.length > 0 ? data.stations : this.stations
        }
        if (typeof data.hours !== 'undefined') {
          this.hours = data.hours.length > 0 ? data.hours : this.hours
        }
        this.length = data.length ? data.length : this.length
        this.interval = data.interval ? data.interval : this.interval
        this._loadHourRange()
      } catch (error) {
        this.$eventBus.$emit('error-load-settings-failed', error)
      }
    }, // <== _loadSettings

    _updateBotSettings: async function () {
      let data = {
        stations: this.stations,
        hours: this.hours,
        length: this.length,
        interval: this.interval
      }
      let vue = this
      try {
        await API.updateBotSettings(data)
        vue.$eventBus.$emit('setting-updated')
        await API.informBotSettingsChanged()
      } catch (error) {
        vue.$eventBus.$emit('error-update-settings-failed', error)
      }
    }, // <== _updateBotSettings

    _bindSettingsChanged: async function () {
      let vue = this
      vue.$watch('hours', function (newVal, oldVal) {
        vue._updateBotSettings()
      })

      vue.$watch('stations', function (newVal, oldVal) {
        vue._updateBotSettings()
      })

      vue.$watch('length', function (newVal, oldVal) {
        console.log(newVal)
        if (typeof newVal === 'object' && newVal.length === 2 && typeof newVal[0] === 'number' && typeof newVal[1] === 'number') {
          vue._updateBotSettings()
        }
      })

      vue.$watch('fromLocalHour', function (newVal) {
        vue._calculateHourRange()
      })

      vue.$watch('toLocalHour', function (newVal) {
        vue._calculateHourRange()
      })
    }, // <== _bindSettingsChanged

    _calculateHourRange () {
      let hours = []
      for (let hour = this.fromLocalHour; hour <= this.toLocalHour; hour++) {
        let utcHour = this.$options.filters.format_hour_local_to_utc(hour)
        hours.push(utcHour)
      }
      this.hours = hours
    } // <== _calculateHourRange
  },

  filters: {
    format_24To12Hour: function (value) {
      if (typeof value !== 'number' || value < 0 || value > 23) {
        return undefined
      }
      let formated = (value > 0 && value < 12) ? value + 'am' : (value > 12) ? value - 12 + 'pm' : value === 0 ? '12am' : '12pm'
      return formated
    }, // <== format_24To12Hour

    format_hour_local_to_utc: function (value) {
      if (typeof value !== 'number' || value < 0 || value > 23) {
        return undefined
      }
      let date = new Date()
      date.setHours(value)
      let utcHour = date.getUTCHours()
      return utcHour
    }, // <== format_hour_local_to_utc

    format_hour_utc_to_local: function (value) {
      if (typeof value !== 'number' || value < 0 || value > 23) {
        return undefined
      }
      let date = new Date()
      date.setUTCHours(value)
      let localHour = date.getHours()
      return localHour
    } // <== format_hour_utc_to_local
  }
}
</script>

<style lang="scss" scoped>
h2 {
  text-align: center;
}
h3 {
  border-bottom: 1px solid $foreground-alt;
  display: inline-block;
  padding: 5px 0;
  margin: 0 0 15px 0;
}
section {
  padding: 20px 0;
}
p {
  line-height: 1.3em;
}
.advance-settings {
  padding: 40px 25px;

  .advance-mode {
    overflow: hidden;
    @include animation(animation-hight-scroll .7s);
  }
}

.mode-select {
  display: inline-block;
  width: 100%;

  .mode-select-option {
    display: inline;

    &:nth-child(1) {
      float: left;

    }
    &:nth-child(2) {
      float: right;
      clear: right;
      @media screen and (min-width: $break-mobile-width) {
        float: left;
        margin-left: 40px;
      }
    }

    label {
      display: inline;
    }

    input {
      margin: 0 0 0 5px;
      transform: translateY(2px);
      background: $background-light;
      color: $foreground;
    }
  }
}

.simple-mode {
  display: inline-block;
  text-align: center;
  p {
    text-align: left;
  }
  .simple-mode-range-select {
    display: inline-block;
    &:nth-child(2) {
      float: left;
      padding-right: 25px;
    }
    &:nth-child(3) {
      float: left;
      clear: right;
    }
    label {
      padding: 12px 0 5px 0;
      display: block;
    }
  }
  .v-select {
    width: 150px;
  }
}

.advance-mode {
  .advance-mode-hour-block {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 17%;


    label {
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    input {
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;
    }
  }
}

.length-of-block {
  position: relative;
  h3 {
    margin-bottom: 37px;
  }

  .length-of-block-slider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: $break-mobile-width) {
      left: 0;
      transform: none;
    }
  }
}

.speed {
  h3 {
    margin-bottom: 37px;
  }
}
</style>
