<template lang="html">
<div class="home-page">
  <bot-handler
    v-on:error="onError"
  ></bot-handler>
  <activity-log
    :stationList="$store.getters.stationList"
    :message="message"
    :messages="messages">
  </activity-log>
</div>
</template>

<script>
import BotHandler from '@/components/BotHandler'
import ActivityLog from '@/components/ActivityLog'
import API from '@/libs/api'
import ErrorHandler from '@/libs/ErrorHandler'

export default {
  name: 'Home',
  components: {
    'bot-handler': BotHandler,
    'activity-log': ActivityLog
  },
  data: function () {
    return {
      message: '',
      messages: [],
      stationList: []
    }
  },

  methods: {
    onError (reason, detail) {
      let error = new ErrorHandler(reason, detail)
      switch (error.AxiosTitle) {
        case 'BadRefreshTokenException':
          this.$router.push({ name: 'RefreshToken' })
          this.$eventBus.$emit('error-Cannot connect to Amazon', 'Reattach action needed')
          break
        default:
          this.$eventBus.$emit(`error-${reason}`, detail)
      }
    }, // <== onError

    async _listenStationListFullfill () {
      this.$eventBus.$on('station-list-fullfill', this._stationListFullfillListener)
    }, // <== _listenStationListFullfill

    async _stationListFullfillListener (stationList) {
      if (typeof stationList === 'object' && stationList.length > 0) {
        this.stationList = stationList
      }
    }, // <== _stationListFullfillListener

    async _loadBotStatus () {
      try {
        await API.inquireBotStatus()
      } catch (error) {
        this.$emit('error', 'load-bot-status-failed', error)
      }
    }
  }, // <== methods

  async mounted () {
    this._loadBotStatus()
  },

  beforeDestroy: function () {
  }
}
</script>

<style lang="scss">
@mixin not-selectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.home-page {
  text-align: center;
}

</style>
