<template lang="html">
  <div class="inactive">
    <h2>You're temporarily inactive</h2>
    <p>Please contact customer support to get more ideas.</p>
    <p>Thank you.</p>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.inactive {
  padding: 20px;
}
</style>
