<template>
  <div class="container">
    <div class="inner">
      <h1>Sign In</h1>
      <form class="login">

          <div class="error-message" v-bind:class="{hidden: isTimeout}">
            {{errorMessage}}
          </div>
          <div class="row">
            <div class="columns twelve ">
              <label for="email">Email</label>
              <input class="u-full-width" id="email" type="email" placeholder="Enter your amazon email" v-model="email">
            </div>
          </div>

          <div class="row">
            <div class="columns ">
              <label for="password">Password</label>
              <input class="u-full-width" id="password" type="password" placeholder="Enter your amazon password" v-model="password">
            </div>
          </div>

          <div class="row">
            <button class="columns three"  type="button" name="button" v-bind:disabled="isInLoginProcess" v-on:click="login">Sign in</button>
          </div>
          <div class="row">
            <router-link :to="{ name: 'SignUp' }" class="link-to-signup">Create new account?</router-link>
          </div>
      </form>
    </div>
  </div>
</template>

<script>
import API from '@/libs/api'
export default {
  name: 'Login',
  data: function () {
    return {
      email: '',
      password: '',
      errorMessage: 'A message popped up here',
      isTimeout: true,
      isInLoginProcess: false
    }
  },
  methods: {
    async login (event) {
      this.isInLoginProcess = true
      try {
        let data = await API.login(this.email, this.password)
        this.$parent.$emit('login-success', data)
        this.isInLoginProcess = false
      } catch (error) {
        this.isInLoginProcess = false
        console.error(error)
        this._handleError(error)
      }
    }, // <== login

    _handleError (error) {
      if (typeof error.data === 'object' && error.data.description === 'Bad access token') {
        this._handleBadAccessToken()
      } else {
        this.$eventBus.$emit('error-login-failed', error)
      }
    }, // <== _handleError

    _handleBadAccessToken () {
      this.$eventBus.$emit('error-bad-access-token')
    } // <== _handleBadAccessToken
  }, // <== methods

  mounted: function () {
  }
}

</script>

<style lang="scss" scoped>
.error-message {
  color: red;
  opacity: 1;
  transition: none;
}
.hidden {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
h1 {
  text-align: center;
}
.link-to-signup {
  font-style: italic;
}
</style>
