<template lang="html">
  <div class="notification-page container">
    <h1>Notification</h1>
    <section>
      <h2 class="row" >
        <span class="three columns">Email</span>
        <toggle-button v-model="isEmailTurnOn" :sync="true" @change="updateNotificationSettings" :value="isEmailTurnOn" :labels="{checked:'On', unchecked: 'Off'}"></toggle-button>
      </h2>
      <p>An email will be sent to you when a block accepted</p>
    </section>

    <section>
      <h2 class="row">
        <span class="three columns">SMS</span>
        <toggle-button v-model="isSMSTurnOn" :sync="true" @change="updateNotificationSettings" :value="isSMSTurnOn" :labels="{checked:'On', unchecked: 'Off'}"></toggle-button>
      </h2>
      <p>A message will be sent to you when a block accepted</p>
    </section>
  </div>
</template>

<script>
import API from '@/libs/api'
export default {
  data: function () {
    return {
      isEmailTurnOn: false,
      isSMSTurnOn: false
    }
  },

  methods: {
    loadNotificationSettings () {
      let vue = this
      API.fetchNotificationSettings()
        .then(function (data) {
          console.log(data)
          vue.isEmailTurnOn = data.isEmailNotificationOn
          vue.isSMSTurnOn = data.isSMSNotificationOn
        })
    }, // <== loadNotificationSettings

    updateNotificationSettings () {
      let vue = this
      let dateObj = new Date()
      let settings = {
        isEmailNotificationOn: vue.isEmailTurnOn,
        isSMSNotificationOn: vue.isSMSTurnOn,
        timezone_offset: parseFloat(dateObj.getTimezoneOffset()) / 60
      }
      API.updateNotificationSettings(settings)
    }
  },

  created: function () {
    this.loadNotificationSettings()
  }
}
</script>

<style lang="scss">
.notification-page {
  text-align: left;
  padding: 10px 20px;
  h1 {
    text-align: center;
    //margin-bottom: 60px;
  }
  h2 {
    span {
      padding-right: 20px;
    }
  }
  section {
    padding: 20px 0 5px;
  }
}
</style>
