<template lang="html">
  <div class="container">
    <h1>Amazon Account Reattach</h1>
    <p>Your account has not correctly connected to Amazon</p>
    <p>Please enter your password below to reattach your account</p>
    <label for="">Email</label>
    <input type="text" name="" :value="email" disabled>
    <label for="">Password</label>
    <input type="password" v-model="password" placeholder="Enter your password" autofocus>
    <button type="button" @click="renewToken">Reattach</button>

    <modal class="amazon-modal" name="amazon-verification-modal" :width="windowWidth" :clickToClose="false">
      <div v-show="!isRedirectedToAmazon">
        <p>You need to go to amazon website for extra verification</p>
        <a :href="redirectLink" @click="status = 'redirect'" target="_blank"><button type="button" name="button">Go to amazon</button></a>
      </div>
      <div v-show="isRedirectedToAmazon">
        <p>Verify successfully!</p>
        <p>Let's try to reattach again.</p>
        <button  type="button" name="button" @click="finishVerification">Done</button>
      </div>
    </modal>
  </div>
</template>

<script>
import API from '@/libs/api'
import ErrorHandler from '@/libs/ErrorHandler'

export default {
  data () {
    return {
      password: null,
      status: '',
      redirectLink: '',
      payload: null
    }
  }, // <== data

  computed: {
    email () { return this.$store.getters.email },
    isRedirectedToAmazon () { return this.status === 'redirect' },
    windowWidth () { return window.outerWidth }
  },

  methods: {
    validatePasswordInput () {

    },

    async finishVerification () {
      this.status = ''
      this.$modal.hide('amazon-verification-modal')
    },

    async redirectToAmazonVerify (description) {
      let uri = description.uri
      let deviceId = description.device_id
      let PAYLOAD_TEMPLATE = `${uri}&openid.oa2.client_id=device%3A${deviceId}&openid.oa2.response_type=token&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=amzn_device_na&disableLoginPrepopulate=0&accountStatusPolicy=P1&openid.pape.max_auth_age=0&openid.ns.oa2=http%3A%2F%2Fwww.amazon.com%2Fap%2Fext%2Foauth%2F2&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&language=en_US&openid.oa2.scope=device_auth_access&openid.return_to=https%3A%2F%2Fwww.amazon.com%2Fap%2Fmaplanding`
      this.status = 'verify'
      this.payload = description.payload
      this.redirectLink = PAYLOAD_TEMPLATE
      this.$modal.show('amazon-verification-modal')
    },

    async renewToken () {
      this.validatePasswordInput()
      try {
        await API.renewRefreshToken(this.password, this.payload)
        this.$router.push({ name: 'Home' })
      } catch (e) {
        let error = new ErrorHandler('Reacttach error', e)
        switch (error.AxiosTitle) {
          case 'HandleOnWebException':
            await this.redirectToAmazonVerify(error.detail)
            break
          case 'WrongCredentialException':
            this.$eventBus.$emit('error-Email or Password incorrect', '')
            break
          default:
            this.$eventBus.$emit('error-unknown', e)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  padding: 0 20px;

  label {
    display: block;
    padding: 10px 0;
  }

  button {
    margin: 20px 0;
  }
}
</style>
