<template lang="html">
  <div class="container">
    <div :class="{inner: 1, blur: isVerificationProcess}">
      <h1>Register new account</h1>
      <form class="signup">
          <div class="row">
            <div class="columns twelve ">
              <label for="email">Email</label>
              <input class="u-full-width" id="email" type="email" placeholder="Enter your amazon email" v-model="email">
            </div>
          </div>

          <div class="row">
            <div class="columns ">
              <label for="password">Password</label>
              <input class="u-full-width" id="password" current-password type="password" placeholder="Enter your amazon password" v-model="password">
            </div>
          </div>

          <div class="row">
            <button class="columns three"  type="button" name="button" v-bind:disabled="isInSignUpProcess" v-on:click="signup">Create new account</button>
          </div>
      </form>
    </div>
    <modal class="amazon-modal" name="amazon-verification-modal" :width="windowWidth" :clickToClose="false">
      <div v-show="!isRedirectedToAmazon">
        <p>You need to go to amazon website for extra verification</p>
        <a :href="redirectLink" @click="status = 'redirect'" target="_blank"><button type="button" name="button">Go to amazon</button></a>
      </div>
      <div v-show="isRedirectedToAmazon">
        <p>Verify successfully!</p>
        <p>Let's try to sign up again.</p>
        <button  type="button" name="button" @click="finishVerification">Done</button>
      </div>
    </modal>
  </div>
</template>

<script>
import API from '@/libs/api'
import { InvalidEmailException, InvalidPasswordException } from '@/exceptions'

export default {
  data () {
    return {
      email: '',
      password: '',
      status: '',
      redirected: false,
      redirectLink: '',
      dsn: null
    }
  },

  computed: {
    isInSignUpProcess () {
      return this.status === 'signup' || this.status === 'verify'
    },
    isVerificationProcess () {
      return this.status === 'verify' || this.status === 'redirect'
    },
    isRedirectedToAmazon () {
      return this.status === 'redirect'
    },
    sanitizedEmail () {
      return this.email.trim().toLowerCase()
    },
    windowWidth () {
      return window.outerWidth
    }
  },

  methods: {
    validateData () {
      const EMAIL_PATTERN = /^[^\s@]+@[^\s@]+$/
      if (typeof this.sanitizedEmail !== 'string'
        || this.sanitizedEmail.length === 0
        || !this.sanitizedEmail.match(EMAIL_PATTERN)) {
        throw new InvalidEmailException()
      }
      if (typeof this.password !== 'string' || this.password.length === 0) {
        throw new InvalidPasswordException()
      }
    },

    async signup () {
      this.status = 'signup'
      try {
        this.validateData()
        let data = await API.signup(this.sanitizedEmail, this.password, this.payload)
        let title = data.status === 'active' ? 'Sign up successfully' : 'Your area fulfilled'
        let text = data.status === 'waiting' ? 'You\'re put in the waiting list' : ''

        this.$notify({
          title: title,
          text: text,
          type: 'info',
          duration: 5000
        })
        this.status = ''
        this.$router.push({ name: 'Login' })
      } catch (error) {
        this.status = ''
        if (error.data)
          error = error.data

        switch (error.title) {
          case 'WrongCredentialException':
            this.$eventBus.$emit('error', 'Sign up failed', 'Amazon email or password incorrect')
            break
          case 'HandleOnWebException':
            this.$notify({
              title: 'Sign up in process',
              text: 'Verification step needed',
              type: 'info',
              duration: 5000
            })
            await this.handleProcessOnWeb(error.description)
            break
          case 'EmailExistedException':
            this.$eventBus.$emit('error', 'Sign up failed', 'Email existed')
            break
          case 'InvalidDataException':
            this.$eventBus.$emit('error', 'Sign up failed', 'Email or password invalid')
            break
          case 'AreaIdNotFoundException':
            this.$eventBus.$emit('error', 'Sign up failed', 'Your account\'s yet been assigned to any station. Contact ZeroFlex team please.')
            break
          default:
            this.$eventBus.$emit('error', 'Sign up failed', error.title)
        }
      }

    },

    async handleProcessOnWeb (description) {
      let uri = description.uri
      let deviceId = description.device_id
      let PAYLOAD_TEMPLATE = `${uri}&openid.oa2.client_id=device%3A${deviceId}&openid.oa2.response_type=token&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=amzn_device_na&disableLoginPrepopulate=0&accountStatusPolicy=P1&openid.pape.max_auth_age=0&openid.ns.oa2=http%3A%2F%2Fwww.amazon.com%2Fap%2Fext%2Foauth%2F2&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&language=en_US&openid.oa2.scope=device_auth_access&openid.return_to=https%3A%2F%2Fwww.amazon.com%2Fap%2Fmaplanding`
      this.status = 'verify'
      this.payload = description.payload
      this.redirectLink = PAYLOAD_TEMPLATE
      this.$modal.show('amazon-verification-modal')
    },

    async finishVerification () {
      this.status = ''
      this.$modal.hide('amazon-verification-modal')
    }

  }, // <== methods

  async mounted () {
    if (!this.$store.getters.isUserNotExisted) {
      this.$router.push({
        name: 'Home'
      })
    }

    //this.handleProcessOnWeb({ challenge: { uri: 'https://amazon.com/?a=1' } })
    //setTimeout(this.handleProcessOnWeb.bind(this, { challenge: { uri: 'https://amazon.com/?a=1' } }), 1000)
  }
}
</script>

<style lang="scss" scoped>
.container {
  .inner.blur {
    @include css3-prefix(filter, blur(20px));
  }
}


</style>
