<template lang="html">
  <div class="container subscription">
    <section class="subscription-info">
      <h2>Information</h2>
      <p>Expired on: {{$store.getters.expiredDate | utcFormat}}</p>
      <p>Monthly subscription: <span :class="{'is-red-flag': !$store.getters.isSubscribed}">{{$store.getters.isSubscribed | yesNoFormat}}</span></p>
      <instant-purchase/>
      <div class="subscribe" v-show="!$store.getters.isSubscribed">
        <vue-stripe-checkout
          ref="subscribe"
          :description="'Subscribe monthly'"
          :label="'Subscribe'"
          :panel-label="'Subscribe'"
          :email="$store.getters.email"
          :billingAddress="true"
          @done="userCardInputDone"
          @canceled="userCardInputCanceled"
        ></vue-stripe-checkout>
        <p><button type="button" @click="subscribe">Subscribe</button></p>
      </div>

      <div class="unsubscribe" v-show="$store.getters.isSubscribed">
        <p> <button type="button" @click="unsubscribe">Unsubscribe</button></p>
      </div>
    </section>

    <section class="payment-method">
      <h2>Payment Method</h2>
      <payment-method
      :paymentList="$store.getters.paymentMethods"
      @paymentMethodAdded="onPaymentMethodAdded"
      @paymentMethodRemoved="onPaymentMethodRemoved"
      @error="onError"
      />
    </section>

    <section class="payment-history">
      <h2>Purchase History</h2>
      <purchase-history @error="onError"/>
    </section>

  </div>
</template>

<script>
import API from '@/libs/api'

export default {
  async created () {
    await this.loadPaymentMethods()
  },

  methods: {
    async subscribe () {
      if (this.$store.getters.hasPaymentMethods) {
        await this.basicSubscribe()
      } else {
        // eslint-disable-next-line
        //this.showAwait('Please enter your card to subscribe monthly subscription')
        this.$refs.subscribe.open()
      }
    },

    async unsubscribe () {
      try {
        await API.unsubscribe()
        this.$store.commit('updateSubscriptionStatus', false)
      } catch (e) {
        this.$eventBus.$emit('error-Subscribe failed', e)
      }
    },

    async userCardInputDone ({ token, args }) {
      try {
        await API.subscribe(token)
        this.$store.commit('updateSubscriptionStatus', true)
        await this.loadPaymentMethods()
        this.$notify({
          type: 'success',
          title: 'Subscribe successfully',
          duration: 5000
        })
      } catch (e) {
        this.$eventBus.$emit('error-Subscribe failed', e)
      }
    },

    async userCardInputCanceled () {
      this.$eventBus.$emit('error-Subscribe failed', 'No payment input')
    },

    async basicSubscribe () {
      try {
        await API.subscribe({ id: 'nontoken' })
        await this.$store.commit('updateSubscriptionStatus', true)
        this.$notify({
          type: 'success',
          title: 'Subscribe successfully',
          duration: 5000
        })
      } catch (e) {
        this.$eventBus.$emit('error-Subscribe failed', e)
      }
    },

    async loadPaymentMethods () {
      try {
        let result = await API.fetchPaymentMethod()
        await this.$store.commit('updatePaymentMethods', result['payment_methods'])
      } catch (e) {

      }
    },

    async onPaymentMethodAdded (paymentMethod) {
      await this.$store.commit('addPaymentMethod', paymentMethod)
    },

    async onPaymentMethodRemoved (paymentMethod) {
      await this.$store.commit('removePaymentMethod', paymentMethod)
    },

    async onError (e) {
      this.$eventBus.$emit('error-unknown', e)
    }
  }
}
</script>

<style lang="scss" scoped>
.container.subscription {
  padding: 15px;

  section {
    padding: 5px 0;
  }
}
button {
}
.is-red-flag {
  color: $foreground-alt;
}
</style>
