<template lang="html">
  <div class="container">
    <h1>Waiting List</h1>
    <section class="user-waiting" v-show="$store.getters.userStatus === 'waiting'">
      <p>{{priorityStatement}}</p>
      <p>We will email you soon once there is a spot available.</p>
      <p>Thank you</p>
      <button type="button" @click="optOut">Opt out now</button>
    </section>
    <section class="user-inactive" v-show="$store.getters.userStatus === 'expired'">
      <p>Your subscription expired on {{$store.getters.expiredDate || date}}</p>
      <p>You're not in the waiting list</p>
      <button type="button" @click="optIn">Opt in now</button>
    </section>

  </div>
</template>

<script>
import API from '@/libs/api'

export default {
  name: 'WaitingList',
  data () {
    return {
      priority: 0
    }
  }, // data

  computed: {
    priorityStatement () {
      if (this.priority === 0) { return 'You\'re on the top of the waiting list.' }
      if (this.priority === 1) { return 'There is 1 person ahead of you.' }
      return `There are ${this.priority} people ahead of you.`
    }
  }, // computed

  methods: {
    async fetchPriority () {
      try {
        this.priority = (await API.fetchPriorityInWaitingList())['priority']
      } catch (e) {
        console.error(e)
      }
    },

    async optIn () {
      try {
        await API.optInWaitingList()
        this.$store.commit('updateUser', { is_waiting: true })
      } catch (e) {
        this.$eventBus.$emit('error-Opt In Failed', '')
      }
    },

    async optOut () {
      try {
        await API.optOutWaitingList()
        this.$store.commit('updateUser', { is_waiting: false })
      } catch (e) {
        this.$eventBus.$emit('error-Opt Out Failed', '')
      }
    }
  }, // methods
  async mounted () {
    if (this.$store.getters.userStatus === 'waiting') {
      await this.fetchPriority()
    }
  } // mounted
}
</script>

<style lang="scss" scoped>
.container {
  text-align: center;
}
</style>
