<template lang="html">
  <div class="">
    <div class="bot-log">
      <h2 :class="{loading: isLoading}">Activity log</h2>
      <div class="bot-log-actions">
        <button type="button" name="clear-log" @click="clearLog">Clear</button>
      </div>
      <div class="bot-log-content">
        <div class="bot-log-group" v-for="(group, groupName) in reversedLocalMessageGroupByDay">
          <h4>{{groupName | format_date_of_week}}</h4>
          <div v-bind:class="{'bot-log-line': 1, 'highlight': m.body.includes('Block accepted')}" v-for="m in group" v-bind:key="m.created">
            <span>{{m.created | format_hh_mm_ss}}</span>
              {{m.body}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import moment from 'moment'

export default {
  name: 'ActivityLog',
  props: {
    message: String,
    messages: Array,
    stationList: Array
  },

  data: function () {
    return {
      isLoading: false
    }
  },

  computed: {
    localMessages () {
      return this.$store.getters.activityLog
    },

    reversedLocalMessages () {
      return this.localMessages.map(x => x).reverse()
    },
    reversedLocalMessageGroupByDay() {
      return _.groupBy(this.reversedLocalMessages, (m) => {
        return moment(m.created).format('MM/D')
      })
    }
  },

  filters: {
    format_mm_dd_hh_mm_ss (value) {
      return moment(value).format('MMM-D HH:mm:ss')
    },

    format_mm_dd (value) {
      return moment(value).format('MMM-D')
    },

    format_hh_mm_ss (value) {
      return moment(value).format('HH:mm:ss')
    },

    format_date_of_week (value) {
      let dateFormat = 'MM/D'
      let date = moment(value, dateFormat)
      let today = moment()
      let yesterday = moment().subtract(1, 'days')
      let tomorrow = moment().add(1, 'days')

      if (date.isSame(today, 'day')) {
        return 'Today'
      } else if (date.isSame(yesterday, 'day')) {
        return 'Yesterday'
      } else if (date.isSame(tomorrow, 'day')) {
        return 'Tomorrow'
      } else {
        return value
      }
    }
  },

  methods: {
    clearLog () {
      this.$store.dispatch('clearActivityLog')
    },


  }, // <== methods

  sockets: {
    'Bot started': function () {
      this.isLoading = true
    },
    'Bot running': function () {
      this.isLoading = true
    },
    'Bot stopped': function () {
      this.isLoading = false
    }
  }, // <== Sockets

  async beforeMount () {
  },

  async created () {
  }, // <== created

  async beforeDestroy () {
  }
}
</script>

<style lang="scss" scoped>
.bot-log {
  min-height: 350px;
  overflow: visible;
  border: 1px solid $foreground;
  margin: 40px 0;
  text-align: left;
  h2 {
    display: inline-block;
    margin: 0;
    padding: 10px 10px;
    background: rgba($foreground, .2);
    display: inline-block;
    opacity: 1;
    color: $foreground;
    font-size: 1.4em;

    &.loading {
      background: linear-gradient(to right, rgba($foreground,.2) 8%, rgba($foreground, .4) 18%, rgba($foreground,.2) 33%);
      background-size: 800px 104px;
      animation: placeHolderShimmer 1.25s linear infinite forwards;
    }
  }
  .bot-log-actions {
    float:right;
  }

  .bot-log-content {
    padding: 20px 0;

    .bot-log-group {

      h4 {
        display: inline-block;
        border: 1px solid $foreground-alt;
        color: $foreground-alt;
        font-size: 1.2em;
        margin: 5px 0;
      }

      .bot-log-line {
        padding: 10px 0;
        text-align: left;

        &.highlight {
          color: $foreground-alt;
        }
      }
    }
  }
}

</style>
