<template lang="html">
  <div class="wrap-collape">
    <input :id="randomId" type="checkbox" name="checkbox" class="toggle-checkbox">
    <label :for="randomId" class="toggle-label">
      <slot name="toggle"></slot>
    </label>

    <div class="content" >
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseCollapse',

  data: function () {
    return {
      internalId: ''
    }
  },

  computed: {
    randomId () {
      if (!this.internalId) {
        return '_id' + parseInt(Math.random() * 100000)
      }
      return this.internalId
    }
  }
}
</script>

<style lang="scss" scoped>
input.toggle-checkbox {
  display: none;

  &:checked + .toggle-label + .content {
    max-height: 0;
    overflow: hidden;
  }

  &:checked + .toggle-label {
    &:after {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid $foreground;
      border-left: 0;
    }
  }
}

.toggle-label {
  position: relative;
  overflow: visible;
  &:after {
    content: ' ';
    position: absolute;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-top: 8px solid $foreground;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
    @include transition(border .25s );
  }
}

.content {
  position: relative;
  overflow: visible;
  @include transition(all .25s ease-in-out);
}
</style>
