<template lang="html">
  <div class="row">

    <table class="columns four" >
      <tbody >
        <tr v-for="station in stations" v-bind:key="station.id">
          <td v-bind:class="{'station-selected': checkIfSelected(station)}" class="">{{station.name}}</td>
          <td class="">
            <button
            class="button-small"
            type="button"
            name="button"
            v-bind:disabled="checkIfSelected(station)"
            v-on:click="selectStation(station)">select</button>
          </td>
          <td class="">
            <button
            class="button-small"
            type="button"
            name="button"
            v-bind:disabled="!checkIfSelected(station)"
            v-on:click="removeStation(station)">remove</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
import * as _ from 'lodash'

export default {
  name: 'StationList',
  props: {
    stations: Array,
    value: Array
  },

  computed: {
    checkIfSelected() {
      let vue = this
      return function (station) {
        return _.indexOf(this.value, station.id) > -1
      }
    }
  },

  data: function () {
    return {
    }
  },

  methods: {
    selectStation: function (station) {
      this.$emit('station-selected', station.id)
      if (!this.value.includes(station.id)) {
        this.value.push(station.id)
        this.$emit('input', this.value)
      }
    },
    removeStation: function (station) {
      this.$emit('station-removed', station.id)
      if (this.value.includes(station.id)) {
        let index = _.indexOf(this.value, station.id)
        this.value.splice(index, 1)
        this.$emit('input', this.value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.station-selected {
  color: $foreground-alt;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    &:nth-child(even) {
      //color: rgba($foreground, .6);
      background: rgba($background-light, 1);
    }
    td {
      padding: 7px 0;
      border: 1px solid transarent;
      &:nth-child(2) {
        padding-right: 7px;
      }
    }
  }
}

</style>
