<template lang="html">
  <div class="container">
    <h2>Bot Handler</h2>
    <section class="row">
      <button type="button" name="start" v-bind:disabled="isStarted" v-on:click="startBot">Start</button>
      <button type="button" name="stop" v-bind:disabled="!isStarted" v-on:click="stopBot" class="button-primary">Stop</button>
      <button type="button" name="speedup" v-bind:disabled="speedUpSecondRemain > 0" v-on:click="speedUpBot">Speed up</button>
    </section>
  </div>
</template>

<script>
import API from '@/libs/api'

export default {
  name: 'BotHandler',

  data: function () {
    return {
      isStarted: false,
      speedUpSecondRemain: 0
    }
  },

  methods: {
    speedUpBot: function () {
      let yes = confirm('The bot will speed up in 3 minutes and then automatically back to normal speed.\nNote: This action could lead your account detected and blocked.')
      let vue = this

      if (yes) {
        vue.interval = 50 // The speed of bot
        vue.speedUpSecondRemain = 3 * 60 // 3 minutes
        vue._updateBotSettings()
        vue.startBot()
        startCountDown(vue)
      }

      function startCountDown (vue) {
        vue.__countdownInterval = setInterval(tick.bind(vue), 1000)
      }

      function tick () {
        let vue = this
        if (vue.speedUpSecondRemain <= 0 || !vue.isStarted) {
          vue.speedUpSecondRemain = 0
          vue.interval = 350
          clearInterval(vue.__countdownInterval)
          vue._updateBotSettings()
        } else {
          vue.speedUpSecondRemain -= 1
        }
      }
    }, // <== speedUpBot

    startBot: async function () {
      this.isStarted = true
      try {
        await API.startBot()
        this.isStarted = true
        this.$notify({ type: 'success', title: 'Starting the bot' })
      } catch (error) {
        this.isStarted = false
        this.$emit('error', 'start-bot-failed', error)
      }
    },

    stopBot: async function () {
      this.isStarted = false
      try {
        await API.stopBot()
        this.isStarted = false
        this.$notify({ type: 'success', title: 'Stopping the bot' })
      } catch (error) {
        this.isStarted = true
        this.$emit('error', 'stop-bot-failed', error)
      }
    },

    _updateBotSettings: async function () {
      let data = {
        interval: this.interval
      }
      let vue = this
      try {
        await API.updateBotSettings(data)
        vue.$emit('setting-updated')
        await API.informBotSettingsChanged()
      } catch (error) {
        vue.$emit('error', 'update-settings-failed', error)
      }
    }
  }, // <== methods

  sockets: {
    connect: function () {
      console.log('SocketIO connected')
    },

    reconnect: function () {
    },

    'auth-reply': function (result) {
    },

    'Bot started': function () {
      this.isStarted = true
    },

    'Bot running': function () {
      this.isStarted = true
    },

    'Bot stopped': function () {
      this.isStarted = false
    }
  }

}
</script>

<style lang="scss" scoped>
button {
  width: 100px;
}
button[name="stop"] {
  margin: 0 20px;
}
</style>
