<template lang="html">
  <div class="container">
    <vue-stripe-checkout
      ref="instantCheckout"
      :description="description"
      :email="$store.getters.email"
      :billingAddress="true"
      @done="userCardInputDone"
      @canceled="userCardInputCanceled"
    ></vue-stripe-checkout>
    <button type="button" name="button" @click="openCheckout">One-time Purchase</button>

    <modal
      name="await-modal"
      class="await-modal"
      :width="windowWidth"
      :clickToClose="false">
      <div class="message">
        <p>{{awaitMessage}}</p>
      </div>
      <img src="@/assets/loading.svg" alt=""/>
    </modal>

    <modal
      name="result-modal"
      class="result-modal"
      :width="windowWidth"
      :clickToClose="false">
      <div :class="{message:1, error: isError}">
          <p>{{resultMessage}}</p>
      </div>
      <button type="button" name="button" @click="$modal.hide('result-modal')">Done</button>
    </modal>
  </div>
</template>

<script>
import moment from 'moment'
import API from '@/libs/api'

export default {
  data () {
    return {
      awaitMessage: '',
      resultMessage: '',
      isError: false
    }
  },

  computed: {
    windowWidth () {
      return window.outerWidth
    },
    description () {
      let expiredDate = this.$store.getters.expiredDate
      let startDate = this.laterDate(new Date(), expiredDate)
      let endDate = moment(startDate).add(1, 'months')
      let period = `${startDate.format('MMM DD')} - ${endDate.format('MMM DD')}`
      return `Monthly subscription for ${period}`
    }
  },

  methods: {
    laterDate (date1, date2) {
      if (moment(date1).isSameOrBefore(date2)) {
        return moment(date2)
      }
      return moment(date1)
    },
    async showAwait (message) {
      console.log(`show ${message}`)
      this.awaitMessage = message
      await this.$modal.show('await-modal')
    },

    async hideAwait () {
      console.log('hide')
      this.awaitMessage = ''
      await this.$modal.hide('await-modal')
    },

    async showResult (message, isError = false) {
      this.resultMessage = message
      this.isError = isError
      this.$modal.show('result-modal')
    },

    async openCheckout () {
      this.showAwait('Please enter your card and accept the purchase')
      this.$refs.instantCheckout.open()
    },

    async userCardInputDone ({ token, args }) {
      try {
        this.showAwait('Sending information to server. Please wait.')
        let user = await API.purchase(token)
        this.hideAwait()
        this.showResult('Purchase successfully. Your receipt\'s been sent to your email. Thank you.')
        this.$store.commit('updateUser', user)
      } catch (e) {
        this.hideAwait()
        if (e.data) {
          // eslint-disable-next-line
          e = e.data
        }
        let description = e.description || e.title || e
        this.showResult(description, true)
      }
    }, // <== userCardInputDone

    async userCardInputCanceled () {
      this.hideAwait()
    }
  } // <== methods
}
</script>

<style lang="scss" scoped>
.await-modal {
  img {
    width: 100px;
    height: 100px;
  }
}

.result-modal {
  .message.error {
    color: $foreground-alt;
  }
}
</style>
