<template lang="html">
  <nav class="menu" :class="{'expanded': isExpanded}" >
    <label  v-bind:class="{'menu-toggler': 1,'hamburger': 1, 'hamburger--spin':1, 'expanded': isExpanded, 'is-active': isExpanded}" @click="toggleMenu">
      <span class="hambuger-box">
        <span class="hamburger-inner"></span>
      </span>
    </label>
    <div :class="{'menu-panel': true, 'expanded': isExpanded}">
      <div class="menu-logo">
          <img src="../assets/logo.png" alt="">
      </div>
      <div class="menu-profile">
        <div>Email: {{$store.getters.email || "login required"}}</div>
        <div>Exprired on: {{expiredDateFormated}}</div>
      </div>
      <div class="menu-group" v-show="isActiveUser">
        <div class="menu-item" @click.stop="collapseMenu">
          <router-link class="fa fa-cogs" :to="{ name: 'Home', params: {} }">Bot Handler</router-link>
        </div>
        <div class="menu-item" @click.stop="collapseMenu">
          <router-link class="fa fa-cogs" :to="{ name: 'AdvanceSettings', params: {} }">Advance Settings</router-link>
        </div>
        <div class="menu-item" @click.stop="collapseMenu" >
          <router-link class="fa fa-cogs" :to="{ name: 'Notification', params: {} }">Notification</router-link>
        </div>
      </div>
      <div class="menu-item" @click.stop="collapseMenu" v-show="isActiveUser || isUserNeedToViewWaitingList">
        <router-link class="fa fa-cogs" :to="{ name: 'Subscription', params: {} }">Subscription</router-link>
      </div>
      <div class="menu-item" @click.stop="collapseMenu" v-show="isUserNeedToViewWaitingList">
        <router-link class="fa fa-cogs" :to="{ name: 'WaitingList', params: {} }">WaitingList</router-link>
      </div>

      <div class="menu-item" @click.stop.prevent="logout" @click.stop="collapseMenu">
        <a class="fa fa-sign-out" href="/" target="">{{$store.getters.isZeroTokenExisted ? 'Log out' : 'Log in'}}</a>
      </div>
      <div v-show="!$store.getters.isZeroTokenExisted" class="menu-item" @click.stop="collapseMenu">
        <router-link class="fa fa-cogs" :to="{ name: 'SignUp', params: {} }">Sign up</router-link>
      </div>
    </div>
    <div class="menu-background" :class="{'expanded': isExpanded}" @click.stop="collapseMenu">

    </div>
  </nav>

</template>

<script>
/* eslint-disable */
import axios from 'axios'

export default {
  name: 'MenuBar',
  data () {
    return {
      isExpanded: false
    }
  },

  computed: {
    expiredDateFormated() {
      if (this.$store.getters.expiredDate) {
        return this.$options.filters.utcFormat(this.$store.getters.expiredDate)
      }
      return ''
    },
    isUserNeedToViewWaitingList () { return ['waiting', 'expired'].includes(this.$store.getters.userStatus) },
    isActiveUser () { return this.$store.getters.userStatus === 'active' }
  },

  methods: {
    toggleMenu () {
      this.isExpanded = !this.isExpanded
      if (this.isExpanded) {
        this.$emit('expanded')
      } else {
        this.$emit('collapsed')
      }
    },

    collapseMenu () {
      this.isExpanded = false
      this.$emit('collapsed')
    },

    logout () {
      this.$parent.$emit('logout')
    }, // <== logout
  },
}
</script>

<style lang="scss">
$menu-width: 250px;
$menu-inner-padding: 20px;
$menu-outer-width: $menu-width + $menu-inner-padding * 2;

$menu-toggler-square-size: 40px;
$menu-toggler-top: $main-layout-margin-top + $main-logo-height/2 - $hamburger-padding-y;
$menu-toggler-left: 20px;

.menu {
  position: absolute;
  background: transparent;
  left: 0;
  top: 0;
  font-size: $font-size;
  font-family: $font-family;
  height: 100%;
  z-index: 10;

  &.expanded {
    width: 100%;

    & + .menu-main-body {
      position: relative;
      left: $menu-outer-width;
    }
  }

  .menu-background {
    display: none;
    position: absolute;
    width: $menu-outer-width;
    left: $menu-outer-width;
    min-height: 1000px;
    height: 100%;
    width: 100%;
    z-index: 11;
    &.expanded {
      display: block;
    }
  }

  .menu-toggler {
    position: absolute;
    top: $menu-toggler-top;
    width: $menu-toggler-square-size;
    height: $menu-toggler-square-size - 10px;
    z-index: 12;
    left: $menu-toggler-left;
    @include transition(all .5s);
    @include disable-selecting();
    padding: 0;

    &.expanded {
      left: $menu-outer-width + $menu-toggler-left;
    }
  }

  .menu-panel {
    position: absolute;
    width: $menu-width;
    min-height: 800px;
    height: 100%;
    left: -$menu-outer-width;
    line-height: 2em;
    top: 0;
    z-index: 11;
    padding: $menu-inner-padding;
    text-align: center;
    background: darken($background, 15%);
    @include transition(all .5s);
    &.expanded {
      left: 0;
    }
    a {
      color: $foreground;
      text-decoration: none;
      &:active, &:focus {
        color: darken($foreground, 15%);
      }
    }

    .menu-logo {
      position: relative;
      margin-bottom: 50px;
      img {
        width: 150px;
        display: inline-block;
      }
    }

    .menu-item {
      padding: 5px 0;
    }

    .menu-profile {
      color: $foreground;
      font-size: $font-size * .8;
      opacity: .3;
      line-height: 1.3em;
      margin-bottom: 20px;

    }
  }
}
</style>
