<template lang="html">
  <div class="container">
    <table>
      <tbody>
        <tr v-if="isNotExistedPaymentMethod">
          <td>empty</td>
        </tr>
        <tr class="payment-method" v-for="method in paymentList" v-bind:key="method.id">
          <td>
            <span class="tag">{{method.brand | formatBrandName}}</span>
            <span class="number">**** {{method.last4}}</span>
          </td>
          <td v-if="!isOnlyOnePaymentMethod"> <button type="button" @click="removeMethod(method)">Remove</button> </td>
          <td> <button :class="{'default-payment': isDefault(method)}" :disabled="isDefault(method)" type="button" @click="setDefault(method)">Default</button> </td>

        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th> <button type="button" @click="openStripeCheckout">Add +</button> </th>
          <th>
            <vue-stripe-checkout
            ref="addPaymentMethod"
            :description="'Add payment method'"
            :panel-label="'Add'"
            :amount="0"
            :email="$store.getters.email"
            :billingAddress="true"
            @done="createNewPaymentMethod"
            >
            </vue-stripe-checkout>
          </th>
        </tr>
      </tfoot>

    </table>
  </div>
</template>

<script>
import API from '@/libs/api'

export default {
  name: 'PaymentMethod',
  props: {
    paymentList: Array
  },
  watch: {
    async paymentList (oldValue, newValue) {
      await this.fetchDefaultPaymentMethod()
    }
  },
  data () {
    return {
      defaultMethodId: null
    }
  },

  computed: {
    isNotExistedPaymentMethod () {
      return this.paymentList.length === 0
    },
    isOnlyOnePaymentMethod () {
      return this.paymentList.length === 1
    }
  },

  methods: {
    isFirstMethod (index) {
      return index === 0
    },

    isDefault (method) {
      return this.defaultMethodId && method ? this.defaultMethodId === method.id : false
    },

    async removeMethod (method) {
      try {
        await API.deletePaymentMethod(method['id'])
        this.$emit('paymentMethodRemoved', method)
      } catch (e) {
        this.$emit('error', e)
      }
    },

    async openStripeCheckout () {
      this.$refs.addPaymentMethod.open()
    },

    async createNewPaymentMethod ({ token, args }) {
      try {
        let method = await API.createPaymentMethod(token)
        this.$emit('paymentMethodAdded', method)
      } catch (e) {
        this.$emit('error', e)
      }
    },

    async setDefault (method) {
      try {
        await API.updateDefaultPaymentMethod(method.id)
        this.defaultMethodId = method.id
      } catch (e) {
        this.$emit('error', e)
      }
    },

    async fetchDefaultPaymentMethod () {
      try {
        this.defaultMethodId = (await API.fetchDefaultPaymentMethod())['payment_method_id']
      } catch (e) {
        this.defaultMethodId = null
        this.$emit('error', e)
      }
    }
  }, // <== methods

  async mounted () {
    await this.fetchDefaultPaymentMethod()
  }
}
</script>

<style lang="scss" scoped>
table {
  font-size: $font-size * .9;
  tr.payment-method {
    td {
      padding: 10px 0;
      &:nth-child(2), &:nth-child(3) {
        padding-left: 2px;
      }
      .tag {
        background: darken($foreground-alt, 13%);
        color: lighten($foreground, 10%);
        padding: 7px;
      }
      .number {
        margin-left: 5px;
        width: 90px;
      }

      .name {
        margin-left: 20px
      }
      button {
        &.default-payment {
          color: $foreground-alt;
          border-color: $foreground-alt;
        }
        font-size: $font-size * .7;
      }
    }

  }
  tfoot {
    text-align: left;
    td {
      padding: 15px 0;
    }
  }
}
</style>
