<template lang="html">
  <div class="">
    <table>
      <thead>
        <tr>
          <td>Date</td>
          <td>Amount</td>
          <td>Method</td>
        </tr>
      </thead>
      <tbody>
        <tr v-if="isNotPurchaseMade">
          <td>empty</td>
        </tr>
        <tr v-for="purchase in purchaseList" :key="purchase.id">
          <td>{{purchase.created | date('YY-MM-DD hh:mma')}}</td>
          <td>${{purchase.amount}}</td>
          <td>{{purchase.payment_gateway}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import API from '@/libs/api'

export default {
  name: 'PurchaseHistory',
  data () {
    return {
      purchaseList: []
    }
  },
  computed: {
    isNotPurchaseMade () {
      return this.purchaseList.length === 0
    }
  },
  methods: {
    async fetchPurchaseHistory () {
      try {
        this.purchaseList = (await API.fetchPurchaseHistory())['purchases']
      } catch (e) {
        console.debug(e)
        this.$emit('error', e)
      }
    }
  },
  async created () {
    await this.fetchPurchaseHistory()
  }
}
</script>

<style lang="scss" scoped>
table {
  thead {
    color: $foreground-alt;
  }
  tbody {
    td {
      text-align: left;
      width: 15%;
      padding-top: 15px;
    }
  }
}
</style>
