<template>
  <div id="app" :class="{'menu-expanded': isMenuExpanded}">
    <menu-bar
      @expanded="isMenuExpanded = true"
      @collapsed="isMenuExpanded = false"
    />
    <div class="main menu-main-body">
      <div class="app-logo">
        <img src="./assets/logo-horizontal.png" alt="">
      </div>
      <router-view/>
    </div>
    <notifications />

  </div>
</template>

<script>
import axios from 'axios'
import ErrorHandler from '@/libs/ErrorHandler.js'
import API from '@/libs/api.js'
import { parseOfferList } from '@/libs/OfferParser.js'

export default {
  name: 'App',

  data: function () {
    return {
      isMenuExpanded: false
    }
  },

  computed: {
    stationList () {
      return this.$store.getters.stationList || []
    }
  },

  methods: {
    async _loadZeroTokenFromStorage () {
      if (this.$store.getters.isZeroTokenExisted) {
        API.SET_ZERO_TOKEN(this.$store.getters.zeroToken)
        this.$router.push({
          name: 'Home'
        })
      } else {
        this.$router.push({
          name: 'Login'
        })
      }
    },

    async _loadUserProfile () {
      try {
        if (this.$store.getters.isUserNotExisted && this.$store.getters.isZeroTokenExisted) {
          let session = await API.fetchProfile()
          this.$store.commit('updateUser', session)
          if (['waiting', 'expired'].includes(this.$store.getters.userStatus)) {
            this.$router.push({ name: 'WaitingList' })
          } else if (this.$store.getters.userStatus === 'inactive') {
            this.$router.push({ name: 'InActive' })
          }
        }
      } catch (e) {
        this.$eventBus.$emit('error-load-user-profile', e)
      }
    }, // <== loadUserProfile

    _listenGlobalError () {
      this.$eventBus.$on('error', this.onErrorListener)
    },

    async _loadStationList () {
      try {
        let data = await API.fetchStationList()
        this.$store.commit('updateStationList', data.stationList)
      } catch (error) {
        this.$emit('error', 'load-station-list-failed', error)
      }
    },

    async _storeZeroToken (token) {
      this.$store.commit('updateZeroToken', token)
      API.SET_ZERO_TOKEN(token)
    },

    async _goToHomePage () {
      this.$router.push({ name: 'Home' })
    },

    _listenLoginEvent () {
      // eslint-disable-next-line
      this.$on('login-success', (async function (session) {
        await this._storeZeroToken(session)
        await this._loadStationList()
        await this._loadUserProfile()
        await this._establishSocketIO()
        await this._goToHomePage()
      }).bind(this))
    },

    _listenLogoutEvent () {
      let vue = this
      this.$on('logout', async () => {
        await vue.$store.dispatch('clearUser')
        await vue.$store.dispatch('clearActivityLog')
        await vue.$store.dispatch('clearZeroToken')
        await vue.$socket.emit('logout')
        await vue.$socket.disconnect()
        vue.$router.push({ name: 'Login' })
        await API.logout()
      })
    }, // <== _listenLogoutEvent

    async _establishSocketIO () {
      if (this.$store.getters.isZeroTokenExisted) {
        if (this.$socket.disconnected) {
          await this.$socket.connect()
        } else {
          await this.$socket.emit('auth', this.$store.getters.zeroToken)
        }
      }
    }, // <== _establishSocketIO

    async onErrorListener (errorName, detail) {
      let error = new ErrorHandler(errorName, detail)

      this.$notify({
        title: error.title,
        text: error.detail,
        type: 'error',
        duration: 5000
      })
    },

    wrapTextMessage (text) {
      this.$store.commit('insertLogLine', {
        body: text,
        created: Date.now()
      })
    },

    blockWrapper (event, offer) {
      let vue = this
      let message = offer
      let created = Date.now()
      let notifications = [{ event: event, message: message, created: created }]
      parseOfferList(notifications, this.stationList, (offer) => {
        vue.$store.commit('insertLogLine', offer)
      })
    } // <== blockWrapper
  }, // <== methods

  sockets: {
    connect: function () {
      this._establishSocketIO()
    },

    'Bot started': function () {
      this.wrapTextMessage('Bot started')
    },
    'Bot running': function () {
      this.wrapTextMessage('Bot running')
    },
    'Bot stopped': function () {
      this.wrapTextMessage('Bot stopped')
    },
    'Block accepted': function (offer) {
      this.blockWrapper('Block accepted', offer)
    },
    'Block missed': function (offer) {
      this.blockWrapper('Block missed', offer)
    },
    'Block filtered': function (offer) {
      this.blockWrapper('Block filtered', offer)
    }
  }, // <== Sockets

  created: async function () {
    let vue = this

    await this._loadZeroTokenFromStorage()
    await this._loadUserProfile()
    await this._loadStationList()
    this._listenGlobalError()
    this._listenLoginEvent()
    this._listenLogoutEvent()
    axios.interceptors.response.use(function (response) {
      return response
    }, function (error) {
      if (error.status === 403 && vue.$route.name !== 'Login') {
        vue.$router.push({
          name: 'Login'
        })
      }
      return Promise.reject(error)
    })
  }
}
</script>

<style lang="scss">
#app {
  position: relative;
  overflow: auto;
  height: 100%;

  &.menu-expanded {
      overflow: hidden;
  }

  .main {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $foreground;
    background: $background;
    font-family: $font-family;
    font-size: $font-size;
    .app-logo {
      margin-top: $main-layout-margin-top;
      position: relative;
      right: $hamburger-padding-x*2;
      text-align: right;
      top: 0;
      img {
        height: $main-logo-height;
      }
    }
  }

}
html, body {
  overflow-y: scroll;
  overflow-x: hidden;
  background: $background;
  max-width: 100%;
  height: 100%;
}
.container {
  position: relative;
  & > .inner {
    padding: 0 20px;
    .row {
      margin-top: 20px;
      label {
        margin-bottom: 5px;
        display: block;
      }
    }
  }
}

a {
  color: $foreground;
  text-decoration: none;
  &:active {
    color: $foreground-alt;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: $background-light !important;
  border: $input-border-width solid $foreground !important;
  color: white !important;
}
input[type="text"], input[type="email"], input[type="password"] {
  background-color: $background-light;
  border: $input-border-width solid $foreground;
  color: $foreground;
  @include transition(all .2s ease);
  width: 100%;
  max-width: 335px - $input-border-width - $input-padding-left;
  outline: none;

  &:focus, &:active {
    @include box-shadow(0, 0, 2px, 2px, $foreground);
    //border: $input-border-width solid $foreground ;

  }

}
input[type="text"], input[type="email"], input[type="password"] {
  padding-left: $input-padding-left;
}

input[type="text"]:hover,
select:hover,
input[type="text"]:focus {
  border-color: #foreground-dark;
}
button, input[type="submit"] {
  & {
    background: $background;
    border: 1px solid $foreground;
    color: $foreground;
    padding: 7px 5px;
    position: relative;
    outline: none;
    overflow: hidden !important;
  }
  &:focus:not(:active) {
    &:after {
      @include animation(animation-background-flash-glow 1s ease);
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to right, rgba($background, .3) 8%, rgba($foreground, .2) 18%, rgba($background, .3) 33%);
    background-size: 800px 104px;
    left: 0;
    opacity: 0;
    overflow: hidden;
  }

  @include disable-selecting();

  &[disabled] {
    opacity: .3;
  }
}

#app .v-select {
  background: $background-light;

  .selected-tag {
    color: $foreground;
    border: 0;
    margin: 0;
    padding: 4px 8px 0;
  }
  .dropdown-toggle {
    cursor: pointer;
    border: 1px solid $foreground;

    .clear {
      color: $foreground;
    }
  }
  .dropdown-menu {
    background: $background-light;
    border: 1px solid rgba($foreground, .4);
    box-shadow: 3px 3px 20px 1px rgba($foreground, .2);
    width: 100%;
    border-radius: 0;
    padding: 0;
    border-top: 0;
    li > a {
      color: $foreground;
      margin: 0;
      padding: 5px 8px;
    }
    & > .highlight > a {
      background: rgba($foreground-alt, .4);
    }
  }
  .open-indicator::before {
    border-color: $foreground;
  }
}

.main {
  position: relative;
  left:0;
  @include transition(all .5s );

  .vue-slider-process {
    background-color: $foreground;
  }
  .vue-slider-dot-tooltip-inner {
    background-color: $background-light;
    border-color: $background-light;
    color: $foreground;

  }
  .vue-slider-dot-handle {
    background-color: $foreground;
  }
  .vue-slider-rail {
    background-color: $background-light;
  }
  .vue-slider-mark-label {
    font-size: 1em;
  }

}

::placeholder {
  color: $foreground;
  font-size: 100%;
  opacity: .2;
}

.beta-version{
  position: absolute;
  top: 15px;
  z-index: 0;
  opacity: .3;
  text-align: center;
  width:100%;
  color: red;
}

.official-version {
  position: absolute;
  top: 15px;
  z-index: 0;
  opacity: .3;
  text-align: center;
  width:100%;
  color: green;
}

.v--modal-overlay {
  background: rgba($background, .95);
  .v--modal-box {
    background: transparent;
    box-shadow: none;
    text-align: center;
    padding: 20px;
  }
}
</style>
