@include keyframes(animation-background-flash-glow) {
  0% {
    opacity: 1;
    background-position: -200px 0;
  }

  100% {
    opacity: 0;
    background-position: 200px 0;
  }
}

@include keyframes(animation-hight-scroll) {
  0% {
    height: 0;
  }
  80% {
    height: 500px;
  }
  100% {
    height: auto;
  }
}

// Animation
@include keyframes (placeHolderShimmer){
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
