$background: #434242;
$foreground: #85EAB4;
$foreground-alt: #de651f;
$foreground-dark: #3BC179;
$background-light: #4f4f4f;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$font-family: "Roboto Mono", sans-serif;
$font-size: 18px;

/* input */
$input-border-width: 1px;
$input-padding-left: 5px;

/* Hamburger menu icon */
$hamburger-layer-color: $foreground-alt;

/* Main layout */
$main-layout-margin-top: 20px;
$main-logo-height: 70px;

/* Break mobile width */
$break-mobile-width: 600px;
